black
byotrack
dacite
deep-trainer
expyrun
gurobipy
ipywidgets
kornia
matplotlib
mypy
numpy<2.0
notebook
opencv-python
pylapy[lap]
pylint
scikit-image
scipy
sinetra
stardist
tensorflow[and-cuda]
torch
torchvision
torch-kf
torch-resnet
# trackeval => Has to dl the github
types-tqdm
